@media(max-width:930px){

    .tasks-list {
        padding: 20px 20px;
    }

    .tasks-list__item {
        margin: 0 auto;
        width: 600px;
        margin-bottom: 20px;
    }
    .tasks-list__text {
        width: 470px;
    }

    .createTask-form__input {
        display: block;
        width: 600px;
        margin-left: 0;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .createTask-form__btn {
        display: block;
        margin-left: 0;
        margin: 0 auto;
    }

}
@media(max-width:780px){
    .tasks-list {
        padding: 20px 20px;
    }

    .tasks-list__item {
        margin: 0 auto;
        width: 500px;
        margin-bottom: 20px;
    }
    .tasks-list__text {
        width: 370px;
    }

    .createTask-form__input {
        display: block;
        width: 500px;
        margin-left: 0;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
}

@media(max-width:670px){
    .tasks-list {
        padding: 20px 20px;
    }

    .tasks-list__item {
        margin: 0 auto;
        width: 400px;
        margin-bottom: 20px;
    }
    .tasks-list__text {
        width: 270px;
    }
    .createTask-form__input {
        width: 400px;
    }
    .tasks-list {
        min-height: 300px;
    }
}
@media(max-width:570px){
    .tasks-list {
        padding: 20px 20px;
    }

    .tasks-list__item {
        margin: 0 auto;
        width: 300px;
        margin-bottom: 20px;
    }
    .tasks-list__text {
        width: 170px;
    }
    .createTask-form__input {
        width: 300px;
    }
    .tasks-list {
        min-height: 300px;
    }
    .header__logo {
        display: block;
        width: 250px;
        margin: 0 auto;
    }
}
@media(max-width:450px){
    .tasks-list {
        padding: 20px 10px;
    }

    .tasks-list__item {
        margin: 0 auto;
        width: 280px;
        margin-bottom: 20px;
        padding: 6px 0px 6px 6px;
    }
    .tasks-list__text {
        width: 190px;
        margin-right: 5px;
    }
    .createTask-form__input {
        width: 280px;
        padding-left: 6px;
    }
    .tasks-list {
        min-height: 200px;
    }
    .tasks-list__item-buttons {
        width: 66px;
    }
    .title {
        font-size: 30px;
    }
    .main__inner {
        min-height: 620px;
    }
}
@media(max-width:420px){
    .tasks-list {
        padding: 20px 10px;
    }

    .tasks-list__item {
        margin: 0 auto;
        width: 250px;
        margin-bottom: 20px;
        padding: 6px 0px 6px 6px;
    }
    .tasks-list__text {
        width: 160px;
        margin-right: 5px;
    }
    .createTask-form__input {
        width: 250px;
        padding-left: 6px;
    }

    .tasks-list__item-buttons {
        width: 66px;
    }
    .title {
        font-size: 30px;
    }
    .main__inner {
        min-height: 620px;
    }
}