@font-face {
    font-family: 'OpenSans-Condensed';
    src: url("./fonts/OpenSansCondensed-Light.ttf"),
    url("./fonts/OpenSansCondensed-Bold.ttf");
}


.container{
     
    max-width: 1170px;
    padding: 15px;
    margin: 0 auto;
   
}
body{
    margin: 0;
    /* margin-top: 20px; */
    padding: 0;
}

.title{
    text-align: center;
    margin: 0;
    color: white;
    font-family: 'OpenSans-Condensed';
    font-style:normal;
    font-weight:900;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 28px;
}

.header__logo{
    margin-left: 40px;
}
 
.main__inner{
    
    min-height: 770px;
    background: #0d585c;
    border-radius: 40px;
    padding: 30px;
    box-sizing: border-box;

}



.tasks-list{
    max-width: 824px;
    min-height: 380px;   
    background: #0A3846;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 31px 58px;
    box-sizing: border-box;
    overflow: hidden;
    /* overflow-y: scroll; */
    /* scrollbar-color: transparent; */
}

.tasks-list__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    white-space: nowrap;
}

.tasks-list__text{
    width: 570px;
    font-family: "OpenSans-Condensed";
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    /* overflow: hidden; */
    box-sizing: border-box;
    /* margin-right: 20px; */
    overflow-x: auto;
}
.tasks-list__text::-webkit-scrollbar{
    height: 4px;
    border-radius: 2px;
    background-color: #000000;
}
.tasks-list__text::-webkit-scrollbar-thumb{
    width: 2px;
    height: 3px;
    background-color: #ef7c00;
}
.tasks-list__item-buttons{
    display: flex;
    justify-content: space-between;
    width: 70px;
    align-items: center;
}
.tasks-list__btn{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    /* opacity: 0.5;
    transition: .5s; */
}
.tasks-list__btn:hover{
    cursor: pointer;
    
}

.tasks-list__btn-completed{
    background: url("./img/main/done.svg") center;
    background-size: cover;
    transition: .5s;
}
.tasks-list__btn-completed:hover{
    background: url("./img/main/done--hover.svg");
    transition: .5s;
}
.tasks-list__btn-uncompleted{
    background: url("./img/main/delete.png") center;
    background-size: 70%;
    background-repeat: no-repeat;
    transition: .5s;
}
.tasks-list__btn-uncompleted:hover{
    background: url("./img/main/delete--hover.png") center;
    background-size: 70%;
    background-repeat: no-repeat;
    transition: .5s;
}
.createTask-form{
    max-width: 824px;
    height: 205px;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 0 auto;
}
.createTask-form__titleWrapper{
    padding: 1px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: #1D1D1D;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 25px;
}
.createTask-form__title{
    text-align: center;
    color: white;
    font-family: "OpenSans-Condensed";
    font-size: 22px;
    line-height: 50px;
    font-weight: 700;
    margin: 0;
}
.createTask-form__input{
    position: relative;
    width: 708px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-left: 61px;
    font-family: 'OpenSans-Condensed';
    font-weight: 700;
    word-wrap: wrap;
}
.createTask-form__btn{
    display: block;
    font-family: 'OpenSans-Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
    margin-top: 20px;
    margin-left: 61px;
    padding: 9px 37px;
    background: #BD4F00;
    border-radius: 12px;
    color: white;
    border: none;
    transition: .5s;
}
.createTask-form__btn:hover{
    transition: .5s;
    background: #e05e00;
    cursor: pointer;
    box-shadow: 0px 0px 6px #eb741e;
}

.done{
    text-decoration:line-through;
	text-decoration-color: rgb(0, 0, 0);
    color: #4f4f4f;
    text-decoration-thickness: 2px;
   
}
.tasks-list__btn-completed.active{
    background: url("./img/main/done--hover.svg") center;
    background-size: cover;
}

.tasks-list__item.active{
    background-color: #87be9b;
}
